@media screen and (max-width: 750px) {
    .navbar {
        background: #fff !important;

        .navbar-brand {
            color: #ed4852;
            font-size: 26px !important;
        }

        .nav-link {
            color: #000 !important;
        }

        .nav-link:hover {
            color: #131313 !important;
        }

        .btn {
            margin-bottom: 1rem;
        }

    }

    .hero {
        height: 100%;

        .hero-img {
            margin-top: 22% !important;
        }


        .hero-descprtion {
            margin-bottom: 4rem;
            margin-top: 2rem;

            h1 {
                font-size: 2.3rem;
                padding-bottom: 1rem;
                margin-bottom: 0;
            }

            p {
                font-size: 16px;
                line-height: 1.7;
                letter-spacing: .5px;
            }
        }
    }


    .popular-dishes {
        h2 {
            font-size: 1.7rem;
        }

        .dish-container {
            flex-direction: row;
            flex-wrap: wrap;

            .dish {
                .dish-content {
                    h3 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 16px;
                        line-height: 1.7;
                        letter-spacing: .5px;
                    }
                }
            }
        }
    }

    #deals {
        .deal-row {
            height: 20rem;

            .deal-content {
                span {
                    font-size: 24px !important;
                }

                h3 {
                    font-size: 2.5rem;
                }

                p {
                    font-size: 1rem;
                }

                .red-btn {
                    padding: 5px 9px;
                }
            }
        }

        .deals-container {
            grid-template-columns: 1fr;

            .deal-2 {
                order: 2;

                .deal-content {

                    span {
                        font-size: 18px;
                    }

                    h3 {
                        font-size: 22px;
                    }

                    .red-btn {
                        font-size: 20px;
                    }
                }
            }

            .deal-3 {
                order: 1;
            }
        }
    }

    .download-app {
        .download-container {
            flex-direction: row;
            flex-wrap: wrap-reverse;
            gap: 5rem;

            .download-content {
                h2 {
                    font-size: 24px;
                }

                p {
                    font-size: 16px;
                    line-height: 2;
                }

                .apps {
                    justify-content: center;

                    img {
                        width: 175px;
                    }
                }
            }
        }
    }

    #footer {
        .footer-navigation {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;

            .footer-nav-list {
                width: 100%;
                margin-bottom: 2rem;

                li {
                    font-size: 16px;

                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .hero-header {
        .hero-content {
            h1 {
                font-size: 3rem;
            }
        }
    }

    .about-us {
        .about-container {
            flex-direction: row;
            flex-wrap: wrap;

            .about-descrption {
                width: 100%;

                h3 {
                    font-size: 40px;
                }

                p {
                    font-size: 16px;
                    line-height: 1.7;
                    letter-spacing: .2px;
                }
            }
        }
    }

    .team {
        text-align: center;

        #team-heading {
            font-size: 40px;
        }

        .crew-members {
            flex-wrap: wrap;
            flex-direction: row;
        }
    }

    .menu-container {
        .menu {

            .menu-list {
                width: 100%;

                li {
                    font-size: 16px;
                }
            }


            .card {
                .card-descrption {
                    h3 {
                        font-size: 20px;
                    }

                    p {
                        font-size: 16px;
                        line-height: 1.7;
                        letter-spacing: .5px;
                    }
                }
            }
        }
    }

    .contact {
        .contact-container {
            flex-direction: row;
            flex-wrap: wrap;

            .contact-info {
                h2 {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}